.breadcrumd-search{
    height: 46px;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
}
.search{
    height: 36.8px;
    width: 335.86px;
    background: #ccc;
    margin-left: 0.8rem;
    line-height: 36.8px;
    border-radius: 5%;
}
.shortcut{
    width: 64px;
    height: 27.59px;
    text-align: center;
    line-height: 27.59px;
}

.iconfont{
    font-size: 30px;
}

/* ============================ */

.category{
    width: 100%;
    height: 632.5px;
    overflow:auto; 
}
.category-left-box{
    width: 112px;
    height: 632.5px;
    float: left;
    position: fixed;
    top: 46px;
    left: 0;
    overflow:auto; 
}
.category-left{
    height: 414px;
    width: 112px;
}
.category-left ul li{
    width: 112.69px;
    height: 56.78px;
    line-height: 56.78px;
    padding-left: 0.8rem;
}



/* ======== */
.category-right-box{
    width: 301.3px;
    height: 632.5px;
    float:right;
    position: fixed;
    top: 46px;
    right: 0;
    overflow: auto;
}
.category-right{
    width: 301.3px;
    height: 632.5px;
    overflow: auto;
} 
.cr-tu img{
    width: 278.31px;
    height: 77.3px;
}
.cr-tuli{
    width: 100%;
    overflow-x: scroll;
}
.cr-tuli ul li{
    float: left;
}
.cr-tuli ul li img{
    width: 87.56px;
    height: 44.36px;
}
.category-right-top{
    width: 301.3px;
    background:#fff;
}
.category-right-bottom{
    width: 301.3px;
    height: 162.67px;
    background: #ffff;
}
.category-right-bottom1{
    width: 301.3px;
    height: 162.67px;
    background: #ffff;
}


.crt-header{
    width: 301.3px;
    height: 46.58px;
    text-align: center;
    line-height: 46.58px;
}
.crt-home{
    width: 301.3px;
    background: #fff;
}
.crt-home ul{
    height: 232.19px;
    width: 301.3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.crt-home ul li{
    width: 80.59px;
}
.crt-home ul li p img{
    width: 55.19px;
    height: 55.19px;
}
.crt-home ul li p{
    margin-top: 5px;
}




/* =========== */
.crb-header{
    width: 301.3px;
    height: 46.58px;
    text-align: center;
    line-height: 46.58px;
}
.crb-home{
    width: 301.3px;
    height: 46.58px;
    background: #fff;
}
.crb-home ul{
    width: 301.3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.crb-home ul li{
    width: 80.59px;
}
.crb-home ul li p img{
    width: 55.19px;
    height: 55.19px;
}
.crb-home ul li p{
    margin-top: 5px;
}


/* ======== */
.crb1-header{
    margin-top: 80px;
    width: 301.3px;
    height: 46.58px;
    text-align: center;
    line-height: 46.58px;
}
.crb1-home{
    width: 301.3px;
    height: 46.58px;
    background: #fff;
}
.crb1-home ul{
    width: 301.3px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap-reverse;
}
.crb1-home ul li{
    width: 80.59px;
}
.crb1-home ul li p img{
    width: 55.19px;
    height: 55.19px;
}
.crb1-home ul li p{
    margin-top: 5px;
}
